{% extends "base.html" %}
{% block content %}
<table align="center">
      {% for row in rows %}
      <tr>
        {% for cell in row %}
        <td>
          <img width="200px" src="{{ PHOTOS_URL }}/{{ cell.url }}">
          <br/>
          {{ cell.title }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
</table>
{% endblock %}
